
body{
    background: rgb(238, 238, 238);
    margin: 0px;
}

.main{
    max-width: 900px;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: 1px 2px rgb(0 0 0 / 10%);
}

.landing{
    background: rgb(255, 255, 255);
    display: flex;
}

.landtext{
    display: flex;
    flex: 0 1 40vw;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.landtextinner{
    text-align: center;
}

.landimage{
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex: 0 1 60vw;
    margin: 0;
}

h1{
    font-weight: normal;
}
h2{
    font-weight: lighter;
}

.landtextinner a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 18px;
    padding: 10px;
    color: black;
}

#photos{
    font-size: larger;
}
img{
    display: block;
    width: 100%;
}

.header{
    color: white;
    background: #333333;
    text-align: center;
    padding: 4px;
}

.figcaption{
    text-align: center;
    padding: 4px;
}

footer{
    text-align: center;
    margin: auto;
    font-size: large;
}

footer p{
    line-height: 2rem;
}